Repository altai-ui/qui-max: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix, prettier --parser json --write, prettier --parser yaml --write

docs(QTable): use kebab-case for slot names in example
  vuepress-docs/docs/.vuepress/public/QTable/data.js
  vuepress-docs/docs/.vuepress/public/QTable/example.html
  vuepress-docs/docs/components/QTable.md
Due: eslint --fix, prettier --write, stylelint --fix

docs(QTable): remove unused code
  vuepress-docs/docs/.vuepress/public/QTable/loading.html
Due: eslint --fix, prettier --write, stylelint --fix

docs(QTable): add sticky and draggable example, add groups color
  vuepress-docs/docs/.vuepress/public/QTable/data.js
  vuepress-docs/docs/.vuepress/public/QTable/example.html
  vuepress-docs/docs/components/QTable.md
Due: eslint --fix, prettier --write, stylelint --fix

feat(QCheckbox): add label size prop
  src/qComponents/QCheckbox/src/QCheckbox.vue
  src/qComponents/QCheckbox/src/q-checkbox.scss
  src/qComponents/QCheckbox/src/types.ts
  stories/components/QCheckbox.stories.ts
Due: eslint --fix, prettier --write, stylelint --fix

fix: q-date-picker by comments
  src/qComponents/QDatePicker/src/QDatePicker.vue
  src/qComponents/QDatePicker/src/types.ts
Due: eslint --fix, prettier --write, stylelint --fix

feat(QTable): add stopPropagation for checkbox
  src/qComponents/QTable/src/QTableCellCheckbox/QTableCellCheckbox.vue
Due: eslint --fix, prettier --write, stylelint --fix

fix(QTable): add stopPropagation for checkbox
  src/qComponents/QCheckbox/src/QCheckbox.vue
  src/qComponents/QCheckbox/src/types.ts
  src/qComponents/QTable/src/QTableCellCheckbox/QTableCellCheckbox.vue
Due: eslint --fix, prettier --write, stylelint --fix

feat(QCheckbox): remove neumorphism inner shadows add accent color
  src/qComponents/QCheckbox/src/q-checkbox.scss
  src/vars.scss
Due: prettier --write, stylelint --fix

feat(QCheckbox): fix import type
  src/qComponents/QCheckbox/src/QCheckbox.vue
Due: eslint --fix, prettier --write, stylelint --fix

feat(QCheckbox): rename Label Size type
  src/qComponents/QCheckbox/src/QCheckbox.vue
  src/qComponents/QCheckbox/src/types.ts
Due: eslint --fix, prettier --write, stylelint --fix

feat(QCheckbox): remove unused vars, add label color, change line-height
  src/qComponents/QCheckbox/src/q-checkbox.scss
Due: prettier --write, stylelint --fix

feat(QCheckbox): set label colors exact as in figma
  src/qComponents/QCheckbox/src/q-checkbox.scss
  src/vars.scss
Due: prettier --write, stylelint --fix

fix(QTable): add stopPropagation for checkbox (#305)
  src/qComponents/QCheckbox/src/QCheckbox.vue
  src/qComponents/QCheckbox/src/types.ts
  src/qComponents/QTable/src/QTableCellCheckbox/QTableCellCheckbox.vue
Due: eslint --fix, prettier --write, stylelint --fix

fix(QSelect): types (#296)
  src/qComponents/QOption/src/QOption.vue
  src/qComponents/QOption/src/types.ts
  src/qComponents/QSelect/index.ts
  src/qComponents/QSelect/src/QSelect.vue
  src/qComponents/QSelect/src/components/QSelectDropdown/index.ts
  src/qComponents/QSelect/src/components/QSelectDropdown/index.vue
  src/qComponents/QSelect/src/components/QSelectDropdown/q-select-dropdown.scss
  src/qComponents/QSelect/src/components/QSelectDropdown/types.ts
  src/qComponents/QSelect/src/components/QSelectTags/index.ts
  src/qComponents/QSelect/src/components/QSelectTags/index.vue
  src/qComponents/QSelect/src/components/QSelectTags/q-select-tags.scss
  src/qComponents/QSelect/src/components/QSelectTags/types.ts
  src/qComponents/QSelect/src/q-select.scss
  src/qComponents/QSelect/src/types.ts
Due: eslint --fix, prettier --write, stylelint --fix

fix(QButton): remove unused styles
  src/qComponents/QButton/src/q-button.scss
Due: prettier --write, stylelint --fix

fix(QButton): stylelint-disable length-zero-no-unit
  src/qComponents/QButton/src/q-button.scss
Due: prettier --write, stylelint --fix

fix(QButton): colors, sizes, paddings (#292)
  src/qComponents/QButton/src/QButton.vue
  src/qComponents/QButton/src/q-button.scss
  stories/components/QButton.stories.ts
  vuepress-docs/docs/.vuepress/public/QButton/main.html
Due: eslint --fix, prettier --write, stylelint --fix

chore: release v0.16.0
  package.json
Due: prettier --parser json --write

feat(QCheckbox): add docs for small label
  vuepress-docs/docs/.vuepress/public/QCheckbox/QCheckbox.html
  vuepress-docs/docs/.vuepress/public/QCheckbox/labelSize.html
  vuepress-docs/docs/components/QCheckbox.md
Due: eslint --fix, prettier --write, stylelint --fix

feat(QRadio): add docs for small label and story
  stories/components/QRadio.stories.ts
  vuepress-docs/docs/.vuepress/public/QRadio/main.html
  vuepress-docs/docs/components/QRadio.md
Due: eslint --fix, prettier --write, stylelint --fix

feat(QRadio): redesign radio button
  src/qComponents/QRadio/src/QRadio.vue
  src/qComponents/QRadio/src/q-radio.scss
  src/qComponents/QRadio/src/types.ts
  src/vars.scss
Due: eslint --fix, prettier --write, stylelint --fix

feat(QRadio): add example to docs
  vuepress-docs/docs/.vuepress/public/QRadio/labelSize.html
  vuepress-docs/docs/components/QRadio.md
Due: eslint --fix, prettier --write, stylelint --fix

refactor(QDatepicker): displayValue
  src/qComponents/QDatePicker/src/QDatePicker.vue
Due: eslint --fix, prettier --write, stylelint --fix

Update q-button.scss
  src/qComponents/QButton/src/q-button.scss
Due: prettier --write, stylelint --fix

feat(RCheckbox): fix code style
  vuepress-docs/docs/.vuepress/public/QCheckbox/QCheckbox.html
  vuepress-docs/docs/.vuepress/public/QCheckbox/labelSize.html
  vuepress-docs/docs/components/QCheckbox.md
Due: eslint --fix, prettier --write, stylelint --fix

feat(RCheckbox): add indeterminate class
  src/qComponents/QCheckbox/src/QCheckbox.vue
  src/qComponents/QCheckbox/src/types.ts
Due: eslint --fix, prettier --write, stylelint --fix

Update q-button.scss (#310)
  src/qComponents/QButton/src/q-button.scss
Due: prettier --write, stylelint --fix

feat(QCheckbox): fix code style
  vuepress-docs/docs/.vuepress/public/QCheckbox/QCheckbox.html
  vuepress-docs/docs/.vuepress/public/QCheckbox/labelSize.html
  vuepress-docs/docs/components/QCheckbox.md
Due: eslint --fix, prettier --write, stylelint --fix

feat(QCheckbox): add indeterminate class
  src/qComponents/QCheckbox/src/QCheckbox.vue
  src/qComponents/QCheckbox/src/types.ts
Due: eslint --fix, prettier --write, stylelint --fix

feat(QRadio): fix color variable
  src/qComponents/QRadio/src/q-radio.scss
Due: prettier --write, stylelint --fix

feat(QRadio): fix code style in example
  vuepress-docs/docs/.vuepress/public/QRadio/labelSize.html
  vuepress-docs/docs/.vuepress/public/QRadio/main.html
  vuepress-docs/docs/components/QRadio.md
Due: eslint --fix, prettier --write, stylelint --fix

feat(QRadio): add types to props
  src/qComponents/QRadio/index.ts
  src/qComponents/QRadio/src/QRadio.vue
  src/qComponents/QRadio/src/types.ts
Due: eslint --fix, prettier --write, stylelint --fix

chore: release v0.16.1
  package.json
Due: prettier --parser json --write

feat(QRadio): update story attrs position
  stories/components/QRadio.stories.ts
Due: eslint --fix, prettier --write

feat(QCheckbox): cast to type Boolean
  src/qComponents/QCheckbox/src/QCheckbox.vue
Due: eslint --fix, prettier --write, stylelint --fix

feat(QRadio): fix attrs to kebab case
  stories/components/QRadio.stories.ts
Due: eslint --fix, prettier --write

feat(QRadio): fix indeterminate props to isIntermediate computed
  src/qComponents/QCheckbox/src/QCheckbox.vue
Due: eslint --fix, prettier --write, stylelint --fix

feat(QCheckbox): fix indeterminate props to isIntermediate computed, fix tabindex and role attrs
  src/qComponents/QCheckbox/src/QCheckbox.vue
  src/qComponents/QCheckbox/src/types.ts
Due: eslint --fix, prettier --write, stylelint --fix

feat(QCheckbox): add types for props and computed for classes
  src/qComponents/QCheckbox/index.ts
  src/qComponents/QCheckbox/src/QCheckbox.vue
  src/qComponents/QCheckbox/src/types.ts
Due: eslint --fix, prettier --write, stylelint --fix

feat(QCheckbox): get ref value
  src/qComponents/QCheckbox/src/QCheckbox.vue
Due: eslint --fix, prettier --write, stylelint --fix

Path conditions:
  eslint --fix: (any of: *.{js,ts}) or (any of: *.{vue,html})
  prettier --write: (((any of: *.{js,ts}) or (any of: *.scss)) or (any of: *.{vue,html})) or (any of: *.md)
  stylelint --fix: (any of: *.scss) or (any of: *.{vue,html})
  prettier --parser json --write: any of: {*.json,.*rc}
  prettier --parser yaml --write: any of: *.{yaml,yml}
