Repository altai-ui/qui-max: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix, prettier --parser json --write, prettier --parser yaml --write

.lintstagedrc:

{
  "*.{js,ts}": ["eslint --fix", "prettier --write"],
  "*.scss": ["stylelint --fix", "prettier --write"],
  "*.{vue,html}": ["stylelint --fix", "eslint --fix", "prettier --write"],
  "{*.json,.*rc}": ["prettier --parser json --write"],
  "*.{yaml,yml}": ["prettier --parser yaml --write"],
  "*.md": ["prettier --write"]
}

feat(QDatePicker): fixes after review
  src/qComponents/QDatePickerNew/src/QDatePickerDropdown/QDatePickerDropdown.vue
  src/qComponents/QDatePickerNew/src/QDatePickerDropdown/QDatePickerPanel/QDatePickerPanel.vue
  src/qComponents/QDatePickerNew/src/QDatePickerDropdown/QDatePickerPanel/QDatePiockerMonthPanel/QDatePickerMonthPanel.vue
  src/qComponents/QDatePickerNew/src/QDatePickerDropdown/QDatePickerPanel/QDatePiockerMonthPanel/q-date-picker-month-panel.scss
  src/qComponents/QDatePickerNew/src/constants.ts
  src/qComponents/QDatePickerNew/src/types.ts
Due: eslint --fix, prettier --write, stylelint --fix

feat(QDatePicker): add month panel (#337)
  src/qComponents/QDatePickerNew/src/QDatePicker.vue
  src/qComponents/QDatePickerNew/src/QDatePickerDropdown/QDatePickerDropdown.vue
  src/qComponents/QDatePickerNew/src/QDatePickerDropdown/QDatePickerPanel/QDatePickerPanel.vue
  src/qComponents/QDatePickerNew/src/QDatePickerDropdown/QDatePickerPanel/QDatePiockerMonthPanel/QDatePickerMonthPanel.vue
  src/qComponents/QDatePickerNew/src/QDatePickerDropdown/QDatePickerPanel/QDatePiockerMonthPanel/index.ts
  src/qComponents/QDatePickerNew/src/QDatePickerDropdown/QDatePickerPanel/QDatePiockerMonthPanel/q-date-picker-month-panel.scss
  src/qComponents/QDatePickerNew/src/QDatePickerDropdown/QDatePickerPanel/QDatePiockerMonthPanel/types.ts
  src/qComponents/QDatePickerNew/src/QDatePickerDropdown/QDatePickerPanel/q-date-picker-panel.scss
  src/qComponents/QDatePickerNew/src/QDatePickerDropdown/types.ts
  src/qComponents/QDatePickerNew/src/constants.ts
  src/qComponents/QDatePickerNew/src/types.ts
Due: eslint --fix, prettier --write, stylelint --fix

feat(QDatePicker): year panel init
  src/qComponents/QDatePickerNew/src/QDatePickerDropdown/QDatePickerDropdown.vue
  src/qComponents/QDatePickerNew/src/QDatePickerDropdown/QDatePickerPanel/QDatePickerYearPanel/QDatePickerYearPanel.vue
  src/qComponents/QDatePickerNew/src/QDatePickerDropdown/QDatePickerPanel/QDatePickerYearPanel/index.ts
  src/qComponents/QDatePickerNew/src/QDatePickerDropdown/QDatePickerPanel/QDatePickerYearPanel/q-date-picker-year-panel.scss
  src/qComponents/QDatePickerNew/src/QDatePickerDropdown/QDatePickerPanel/QDatePickerYearPanel/types.ts
  src/qComponents/QDatePickerNew/src/QDatePickerDropdown/QDatePickerPanel/q-date-picker-panel.scss
Due: eslint --fix, prettier --write, stylelint --fix

feat(QDatePicker): year panel current, selected year
  src/qComponents/QDatePickerNew/src/QDatePickerDropdown/QDatePickerPanel/QDatePickerYearPanel/QDatePickerYearPanel.vue
Due: eslint --fix, prettier --write, stylelint --fix

feat(QDatePicker): year panel (#338)
  src/qComponents/QDatePickerNew/src/QDatePickerDropdown/QDatePickerDropdown.vue
  src/qComponents/QDatePickerNew/src/QDatePickerDropdown/QDatePickerPanel/QDatePickerYearPanel/QDatePickerYearPanel.vue
  src/qComponents/QDatePickerNew/src/QDatePickerDropdown/QDatePickerPanel/QDatePickerYearPanel/index.ts
  src/qComponents/QDatePickerNew/src/QDatePickerDropdown/QDatePickerPanel/QDatePickerYearPanel/q-date-picker-year-panel.scss
  src/qComponents/QDatePickerNew/src/QDatePickerDropdown/QDatePickerPanel/QDatePickerYearPanel/types.ts
  src/qComponents/QDatePickerNew/src/QDatePickerDropdown/QDatePickerPanel/q-date-picker-panel.scss
Due: eslint --fix, prettier --write, stylelint --fix

fix(QUpload): handle DnD properly
  src/qComponents/QUpload/src/QUpload.vue
  src/qComponents/QUpload/src/QUploadDropZone/QUploadDropZone.vue
  src/qComponents/QUpload/src/types.ts
Due: eslint --fix, prettier --write, stylelint --fix

fix(QUpload): use Event
  src/qComponents/QUpload/src/QUpload.vue
  src/qComponents/QUpload/src/types.ts
Due: eslint --fix, prettier --write, stylelint --fix

fix(QUpload): handle DnD properly (#342)
  src/qComponents/QUpload/src/QUpload.vue
  src/qComponents/QUpload/src/QUploadDropZone/QUploadDropZone.vue
  src/qComponents/QUpload/src/types.ts
Due: eslint --fix, prettier --write, stylelint --fix

chore: release v0.18.1
  package.json
Due: prettier --parser json --write

docs: vitepress complete
  vitepress-docs/docs/.vitepress/theme/custom.css
  vitepress-docs/docs/.vitepress/theme/index.js
  vitepress-docs/docs/guide/Layout.md
  vitepress-docs/docs/guide/QCheckbox.md
  vitepress-docs/docs/guide/QCheckboxGroup.md
  vitepress-docs/docs/guide/QCollapse.md
  vitepress-docs/docs/guide/QDatepicker.md
  vitepress-docs/docs/guide/QForm.md
  vitepress-docs/docs/public/favicon.ico
  vitepress-docs/netlify.toml
  vitepress-docs/package.json
Due: eslint --fix, prettier --write, prettier --parser json --write

docs: delete vuepress
  .eslintignore
  .gitignore
  .prettierignore
  .stylelintignore
  vuepress-docs/docs/.vuepress/config.ts
  vuepress-docs/docs/.vuepress/styles/index.scss
  vuepress-docs/docs/README.md
  vuepress-docs/docs/components/Layout.md
  vuepress-docs/docs/components/QBreadcrumbs.md
  vuepress-docs/docs/components/QButton.md
  vuepress-docs/docs/components/QCascader.md
  vuepress-docs/docs/components/QCheckbox.md
  vuepress-docs/docs/components/QCheckboxGroup.md
  vuepress-docs/docs/components/QCollapse.md
  vuepress-docs/docs/components/QColorpicker.md
  vuepress-docs/docs/components/QContextMenu.md
  vuepress-docs/docs/components/QDatepicker.md
  vuepress-docs/docs/components/QForm.md
  vuepress-docs/docs/components/QInput.md
  vuepress-docs/docs/components/QInputNumber.md
  vuepress-docs/docs/components/QPagination.md
  vuepress-docs/docs/components/QPopover.md
  vuepress-docs/docs/components/QRadio.md
  vuepress-docs/docs/components/QScrollbar.md
  vuepress-docs/docs/components/QSelect.md
  vuepress-docs/docs/components/QSlider.md
  vuepress-docs/docs/components/QSwitch.md
  vuepress-docs/docs/components/QTable.md
  vuepress-docs/docs/components/QTabs.md
  vuepress-docs/docs/components/QTag.md
  vuepress-docs/docs/components/QTextarea.md
  vuepress-docs/docs/components/QUpload.md
  vuepress-docs/docs/guide/README.md
  vuepress-docs/docs/guide/getting-started.md
  vuepress-docs/netlify.toml
  vuepress-docs/package.json
  vuepress-docs/yarn.lock
Due: eslint --fix, prettier --write, stylelint --fix, prettier --parser json --write

fix: add logo to public
  vitepress-docs/docs/public/favicon.ico
  vitepress-docs/docs/public/qui-logo.svg
Due: none

docs: add table example
  vitepress-docs/docs/guide/QCheckbox.md
  vitepress-docs/docs/guide/QTable.md
  vitepress-docs/docs/public/QTable/data.js
  vitepress-docs/docs/public/QTable/simple.html
Due: eslint --fix, prettier --write, stylelint --fix

fix: fix conflict QDrawer & QMessageBox
  src/qComponents/QDrawer/src/QDrawerContainer/index.vue
Due: eslint --fix, prettier --write, stylelint --fix

fix: fix conflict .focus method
  src/qComponents/QDrawer/src/QDrawerContainer/index.vue
  src/qComponents/QDrawer/src/QDrawerContainer/types.ts
Due: eslint --fix, prettier --write, stylelint --fix

fix: refactor focusing method
  src/qComponents/QDrawer/index.ts
  src/qComponents/QDrawer/src/QDrawerContainer/index.vue
  src/qComponents/QDrawer/src/QDrawerContainer/types.ts
  src/qComponents/QDrawer/src/constants.ts
  src/qComponents/QMessageBox/src/QMessageBoxContainer/index.vue
Due: eslint --fix, prettier --write, stylelint --fix

fix: fix use addOrRemoveFocus method
  src/qComponents/QMessageBox/src/QMessageBoxContainer/index.vue
Due: eslint --fix, prettier --write, stylelint --fix

fix: fix methods
  src/qComponents/QDrawer/index.ts
  src/qComponents/QDrawer/src/QDrawerContainer/index.vue
  src/qComponents/QDrawer/src/QDrawerContainer/types.ts
  src/qComponents/QDrawer/src/constants.ts
  src/qComponents/QMessageBox/src/QMessageBoxContainer/index.vue
Due: eslint --fix, prettier --write, stylelint --fix

fix: change names of methods & remove react var
  src/qComponents/QDrawer/src/QDrawerContainer/index.vue
  src/qComponents/QDrawer/src/QDrawerContainer/types.ts
  src/qComponents/QMessageBox/src/QMessageBoxContainer/index.vue
Due: eslint --fix, prettier --write, stylelint --fix

fix: add default value for inject method
  src/qComponents/QMessageBox/src/QMessageBoxContainer/index.vue
Due: eslint --fix, prettier --write, stylelint --fix

fix: fix let/const var qDrawerContainer
  src/qComponents/QMessageBox/src/QMessageBoxContainer/index.vue
Due: eslint --fix, prettier --write, stylelint --fix

fix: focusTrap conflict when using QMessageBox inside QDrawer (#348)
  src/qComponents/QDrawer/src/QDrawerContainer/index.vue
  src/qComponents/QDrawer/src/QDrawerContainer/types.ts
  src/qComponents/QMessageBox/src/QMessageBoxContainer/index.vue
Due: eslint --fix, prettier --write, stylelint --fix

chore: release v0.18.2
  package.json
Due: prettier --parser json --write

fix(QPagination): make quick prev/next buttons switch same number of pages
  src/qComponents/QPagination/src/QPagination.vue
Due: eslint --fix, prettier --write, stylelint --fix

fix(QPagination): make quick prev/next buttons switch same number of pages (#354)
  src/qComponents/QPagination/src/QPagination.vue
Due: eslint --fix, prettier --write, stylelint --fix

chore: release v0.18.3
  package.json
Due: prettier --parser json --write

feat: add collapse item some flexibility
  src/qComponents/QCollapseItem/src/QCollapseItem.vue
Due: eslint --fix, prettier --write, stylelint --fix

chore: eslint fix
  src/qComponents/QCollapseItem/src/QCollapseItem.vue
Due: eslint --fix, prettier --write, stylelint --fix

feat: another approach
  src/qComponents/QCollapse/src/QCollapse.vue
  src/qComponents/QCollapse/src/types.ts
  src/qComponents/QCollapseItem/src/QCollapseItem.vue
  src/qComponents/QCollapseItem/src/types.ts
Due: eslint --fix, prettier --write, stylelint --fix

chore: prettier fix
  src/qComponents/QCollapse/src/types.ts
Due: eslint --fix, prettier --write

fix: move 'div' into computed func
  src/qComponents/QCollapseItem/src/QCollapseItem.vue
  src/qComponents/QCollapseItem/src/types.ts
Due: eslint --fix, prettier --write, stylelint --fix

fix: move 'div' into computed func
  src/qComponents/QCollapse/src/types.ts
  src/qComponents/QCollapseItem/src/QCollapseItem.vue
Due: eslint --fix, prettier --write, stylelint --fix

fix: comment fix in if statement
  src/qComponents/QCollapseItem/src/QCollapseItem.vue
Due: eslint --fix, prettier --write, stylelint --fix

fix: no need in optional params
  src/qComponents/QCollapse/src/types.ts
Due: eslint --fix, prettier --write

fix: props types
  src/qComponents/QCollapse/src/types.ts
Due: eslint --fix, prettier --write

fix: props types
  src/qComponents/QCollapse/src/QCollapse.vue
Due: eslint --fix, prettier --write, stylelint --fix

feat: storybook story + small fixes
  src/qComponents/QCollapseItem/src/QCollapseItem.vue
  stories/components/QCollapse/CustomIcon.stories.ts
  stories/components/QCollapse/Default.stories.ts
  stories/components/QCollapse/icons/ChevronDown.vue
  stories/components/QCollapse/icons/ChevronUp.vue
  stories/components/QCollapse/icons/index.ts
Due: eslint --fix, prettier --write, stylelint --fix
