Repository altai-ui/qui-max: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix, prettier --parser json --write, prettier --parser yaml --write

.lintstagedrc:

{
  "*.{js,ts}": ["eslint --fix", "prettier --write"],
  "*.scss": ["stylelint --fix", "prettier --write"],
  "*.{vue,html}": ["stylelint --fix", "eslint --fix", "prettier --write"],
  "{*.json,.*rc}": ["prettier --parser json --write"],
  "*.{yaml,yml}": ["prettier --parser yaml --write"],
  "*.md": ["prettier --write"]
}

fix(QTable): minWidth should work only when fixed layout is false (#322)
  src/qComponents/QTable/src/QTableTHead/QTableTHeadCell/QTableTHeadCell.vue
Due: eslint --fix, prettier --write, stylelint --fix

docs: upgrade switcher doc
  vuepress-docs/docs/.vuepress/public/QSwitch/activeValue.html
  vuepress-docs/docs/components/QSwitch.md
Due: eslint --fix, prettier --write, stylelint --fix

docs: upgrade switcher doc (#326)
  vuepress-docs/docs/.vuepress/public/QSwitch/activeValue.html
  vuepress-docs/docs/components/QSwitch.md
Due: eslint --fix, prettier --write, stylelint --fix

docs: complete slider doc
  vuepress-docs/docs/.vuepress/config.ts
  vuepress-docs/docs/.vuepress/public/QSlider/data.html
  vuepress-docs/docs/.vuepress/public/QSlider/showSteps.html
  vuepress-docs/docs/.vuepress/public/QSlider/tooltipMode.html
  vuepress-docs/docs/components/QSelect.md
  vuepress-docs/docs/components/QSlider.md
Due: eslint --fix, prettier --write, stylelint --fix

docs(QSlider): add docs (#279)
  vuepress-docs/docs/.vuepress/config.ts
  vuepress-docs/docs/.vuepress/public/QSlider/data.html
  vuepress-docs/docs/.vuepress/public/QSlider/main.html
  vuepress-docs/docs/.vuepress/public/QSlider/showSteps.html
  vuepress-docs/docs/.vuepress/public/QSlider/tooltipMode.html
  vuepress-docs/docs/components/QSelect.md
  vuepress-docs/docs/components/QSlider.md
Due: eslint --fix, prettier --write, stylelint --fix

docs: add tag doc
  vuepress-docs/docs/.vuepress/config.ts
  vuepress-docs/docs/.vuepress/public/QTag/main.html
  vuepress-docs/docs/components/QTag.md
Due: eslint --fix, prettier --write, stylelint --fix

docs: add tag doc (#328)
  vuepress-docs/docs/.vuepress/config.ts
  vuepress-docs/docs/.vuepress/public/QTag/main.html
  vuepress-docs/docs/components/QTag.md
Due: eslint --fix, prettier --write, stylelint --fix

style: change main colors
  vuepress-docs/docs/.vuepress/styles/index.scss
Due: prettier --write, stylelint --fix

feat(QDatepicker): update structure for new CSS, remove auxiliary calendar
  src/qComponents/QDatePicker/src/QDatePicker.vue
  src/qComponents/QDatePicker/src/constants.ts
  src/qComponents/QDatePicker/src/helpers.ts
  src/qComponents/QDatePicker/src/panel/Date/DatePanel.vue
  src/qComponents/QDatePicker/src/panel/DateRange/DateRange.vue
  src/qComponents/QDatePicker/src/panel/DateRange/types.ts
  src/qComponents/QDatePicker/src/panel/MonthRange/MonthRange.vue
  src/qComponents/QDatePicker/src/panel/YearRange/YearRange.vue
  src/qComponents/QDatePicker/src/panel/composition.ts
  src/qComponents/QDatePicker/src/panel/q-picker-panel.scss
  src/qComponents/QDatePicker/src/q-date-picker.scss
  src/qComponents/QDatePicker/src/tables/DateTable/DateTable.vue
  src/qComponents/QDatePicker/src/tables/DateTable/date-table.scss
  src/qComponents/QDatePicker/src/tables/PeriodTable/PeriodTable.vue
  src/qComponents/QDatePicker/src/tables/period-table.scss
  src/qComponents/QDatePicker/src/types.ts
  src/vars.scss
Due: eslint --fix, prettier --write, stylelint --fix

feat(QDatepicker): add new story options
  stories/components/QDatePicker.stories.ts
Due: eslint --fix, prettier --write

feat(QDatepicker): now datepicker store dates as array, prepared for divide with QDatePickerTags
  src/qComponents/QDatePicker/src/QDatePicker.vue
  src/qComponents/QDatePicker/src/helpers.ts
  src/qComponents/QDatePicker/src/types.ts
Due: eslint --fix, prettier --write, stylelint --fix

feat(QDatepicker): divide QDatePicker and QDatepickerTag, needs cleanup
  src/qComponents/QDatePicker/src/components/QDatepickerTag/QDatepickerTag.vue
  src/qComponents/QDatePicker/src/components/QDatepickerTag/types.ts
  src/qComponents/QDatePicker/src/helpers.ts
  src/qComponents/QDatePicker/src/mobile/MobilePanel.vue
  src/qComponents/QDatePicker/src/mobile/types.ts
  src/qComponents/QDatePicker/src/q-date-picker.scss
Due: eslint --fix, prettier --write, stylelint --fix

docs: textarea
  vuepress-docs/docs/.vuepress/config.ts
  vuepress-docs/docs/.vuepress/public/QTextarea/main.html
  vuepress-docs/docs/components/QInput.md
  vuepress-docs/docs/components/QTextarea.md
Due: eslint --fix, prettier --write, stylelint --fix

feat: variables generation
  package.json
  sd.config.json
  src/qComponents/QInput/src/q-input.scss
  src/token_variables.scss
  src/vars.scss
  tokens/tokens.json
  transformed-tokens/tokens.json
  yarn.lock
Due: prettier --write, stylelint --fix, prettier --parser json --write

feat: package script, generate tokens, config
  package.json
  src/token-variables.scss
  src/vars.scss
Due: prettier --write, stylelint --fix, prettier --parser json --write

feat: replace main vars with generated vars
  src/qComponents/QInput/src/q-input.scss
Due: prettier --write, stylelint --fix

feat: replace icon vars
  src/qComponents/QInput/src/q-input.scss
Due: prettier --write, stylelint --fix

feat: generate new vars, config
  .gitignore
  sd.config.json
  src/qComponents/QInput/src/q-input.scss
  src/token-variables.scss
  tokens/tokens.json
  transformed-tokens/tokens.json
Due: prettier --write, stylelint --fix, prettier --parser json --write

feat: icons, outline
  src/qComponents/QInput/src/q-input.scss
Due: prettier --write, stylelint --fix

fix: add alias importer
  package.json
  src/main.scss
  src/qComponents/QInput/src/q-input.scss
  src/token-variables.scss
  src/vars.scss
  vite.config.ts
  yarn.lock
Due: eslint --fix, prettier --write, stylelint --fix, prettier --parser json --write

feat: node-sass-alias-importer, do not generate header
  sd.config.json
  src/index.d.ts
  src/qComponents/QInput/src/q-input.scss
  vite.config.ts
Due: eslint --fix, prettier --write, stylelint --fix, prettier --parser json --write

feat: style dictionary add token filter
  package.json
  sd.config.ts
  src/token-variables.scss
  tsconfig.json
Due: eslint --fix, prettier --write, stylelint --fix, prettier --parser json --write

feat: add dropShadow custom transformer, remove deep map, remove filter
  package.json
  sd.config.mjs
  sd.config.ts
  src/main.scss
  src/qComponents/QInput/src/q-input.scss
  src/token-variables.scss
  src/vars.scss
  stories/core/colors.stories.mdx
  tsconfig.json
Due: eslint --fix, prettier --write, stylelint --fix, prettier --parser json --write

feat: remove unused code, remove node-sass-alias-importer, add vars
  package.json
  sd.config.json
  sd.config.mjs
  src/index.d.ts
  src/main.scss
  src/vars.scss
  vite.config.ts
  yarn.lock
Due: eslint --fix, prettier --write, stylelint --fix, prettier --parser json --write

feat(QDatePicker): init
  src/qComponents/QdatePickerNew/index.ts
  src/qComponents/QdatePickerNew/src/QDatePicker.vue
  src/qComponents/QdatePickerNew/src/q-date-picker.scss
  src/qComponents/QdatePickerNew/src/types.ts
Due: eslint --fix, prettier --write, stylelint --fix

feat(QDatePicker): add stories, datePicker field
  src/components.scss
  src/qComponents/QDatePickerNew/index.ts
  src/qComponents/QDatePickerNew/src/QDatePicker.vue
  src/qComponents/QDatePickerNew/src/QDatePickerField/QDatePickerField.vue
  src/qComponents/QDatePickerNew/src/QDatePickerField/q-date-picker-field.scss
  src/qComponents/QDatePickerNew/src/QDatePickerField/types.ts
  src/qComponents/QDatePickerNew/src/q-date-picker.scss
  src/qComponents/QDatePickerNew/src/types.ts
  src/qComponents/QdatePickerNew/index.ts
  src/qComponents/QdatePickerNew/src/q-date-picker.scss
  src/qComponents/index.ts
  stories/components/QDatePickerNew.stories.ts
Due: eslint --fix, prettier --write, stylelint --fix

chore: release v0.18.0
  package.json
Due: prettier --parser json --write

feat: replace scss variables with css variables, filter unused tokens
  sd.config.mjs
  src/qComponents/QInput/src/q-input.scss
  src/token-variables.scss
  src/vars.scss
Due: prettier --write, stylelint --fix

feat: replace shadow value with none if every value is 0
  sd.config.mjs
  src/token-variables.scss
Due: prettier --write, stylelint --fix

feat: generate new vars
  src/qComponents/QInput/src/q-input.scss
  src/token-variables.scss
Due: prettier --write, stylelint --fix

feat(QDatePicker): add days panel
  .storybook/preview.ts
  src/qComponents/QDatePickerNew/src/QDatePicker.vue
  src/qComponents/QDatePickerNew/src/QDatePickerDropDown/QDatePickerDropDown.vue
  src/qComponents/QDatePickerNew/src/QDatePickerDropDown/QDatePickerPanel/QDatePickerPanel.vue
  src/qComponents/QDatePickerNew/src/QDatePickerDropDown/QDatePickerPanel/QDatePiockerDatePanel/QDatePickerDatePanel.vue
  src/qComponents/QDatePickerNew/src/QDatePickerDropDown/QDatePickerPanel/QDatePiockerDatePanel/q-date-picker-date-panel.scss
  src/qComponents/QDatePickerNew/src/QDatePickerDropDown/QDatePickerPanel/QDatePiockerDatePanel/types.ts
  src/qComponents/QDatePickerNew/src/QDatePickerDropDown/QDatePickerPanel/q-date-picker-panel.scss
  src/qComponents/QDatePickerNew/src/QDatePickerDropDown/QDatePickerPanel/types.ts
  src/qComponents/QDatePickerNew/src/QDatePickerDropDown/q-date-picker-drop-down.scss
  src/qComponents/QDatePickerNew/src/QDatePickerDropDown/types.ts
  src/qComponents/QDatePickerNew/src/constants.ts
  src/qComponents/QDatePickerNew/src/helpers.ts
  src/qComponents/QDatePickerNew/src/q-date-picker.scss
  stories/components/QDatePickerNew.stories.ts
Due: eslint --fix, prettier --write, stylelint --fix

fix(QDatePicker): return en locale
  .storybook/preview.ts
Due: eslint --fix, prettier --write

fix(QDatePicker): add today and selected displaying
  src/qComponents/QDatePickerNew/src/QDatePickerDropDown/QDatePickerDropDown.vue
  src/qComponents/QDatePickerNew/src/QDatePickerDropDown/QDatePickerPanel/QDatePiockerDatePanel/QDatePickerDatePanel.vue
  src/qComponents/QDatePickerNew/src/QDatePickerDropDown/QDatePickerPanel/QDatePiockerDatePanel/q-date-picker-date-panel.scss
  src/qComponents/QDatePickerNew/src/QDatePickerDropDown/QDatePickerPanel/QDatePiockerDatePanel/types.ts
  src/qComponents/QDatePickerNew/src/helpers.ts
Due: eslint --fix, prettier --write, stylelint --fix

docs: complete textarea
  vuepress-docs/docs/components/QTextarea.md
Due: prettier --write

docs: fix QInput prop
  vuepress-docs/docs/components/QInput.md
Due: prettier --write

feat(QDatePicker): naming, move popper to QDatePicker, fix positions
  src/qComponents/QDatePickerNew/src/QDatePicker.vue
  src/qComponents/QDatePickerNew/src/QDatePickerDropDown/QDatePickerDropDown.vue
  src/qComponents/QDatePickerNew/src/QDatePickerDropDown/QDatePickerPanel/QDatePiockerDatePanel/q-date-picker-date-panel.scss
  src/qComponents/QDatePickerNew/src/QDatePickerDropdown/QDatePickerDropdown.vue
  src/qComponents/QDatePickerNew/src/QDatePickerDropdown/QDatePickerPanel/QDatePickerPanel.vue
  src/qComponents/QDatePickerNew/src/QDatePickerDropdown/QDatePickerPanel/QDatePiockerDayPanel/QDatePickerDayPanel.vue
  src/qComponents/QDatePickerNew/src/QDatePickerDropdown/QDatePickerPanel/QDatePiockerDayPanel/index.ts
  src/qComponents/QDatePickerNew/src/QDatePickerDropdown/QDatePickerPanel/QDatePiockerDayPanel/q-date-picker-day-panel.scss
  src/qComponents/QDatePickerNew/src/QDatePickerDropdown/QDatePickerPanel/QDatePiockerDayPanel/types.ts
  src/qComponents/QDatePickerNew/src/QDatePickerDropdown/QDatePickerPanel/index.ts
  src/qComponents/QDatePickerNew/src/QDatePickerDropdown/QDatePickerPanel/q-date-picker-panel.scss
  src/qComponents/QDatePickerNew/src/QDatePickerDropdown/QDatePickerPanel/types.ts
  src/qComponents/QDatePickerNew/src/QDatePickerDropdown/index.ts
  src/qComponents/QDatePickerNew/src/QDatePickerDropdown/q-date-picker-dropdown.scss
  src/qComponents/QDatePickerNew/src/QDatePickerDropdown/types.ts
  src/qComponents/QDatePickerNew/src/QDatePickerField/index.ts
  src/qComponents/QDatePickerNew/src/q-date-picker.scss
Due: eslint --fix, prettier --write, stylelint --fix

fix: comments
  vuepress-docs/docs/.vuepress/public/QTextarea/main.html
  vuepress-docs/docs/components/QTextarea.md
Due: eslint --fix, prettier --write, stylelint --fix

feat(QDatePicker): month panel
  src/qComponents/QDatePickerNew/src/QDatePicker.vue
  src/qComponents/QDatePickerNew/src/QDatePickerDropdown/QDatePickerDropdown.vue
  src/qComponents/QDatePickerNew/src/QDatePickerDropdown/QDatePickerPanel/QDatePiockerMonthPanel/QDatePickerMonthPanel.vue
  src/qComponents/QDatePickerNew/src/QDatePickerDropdown/QDatePickerPanel/QDatePiockerMonthPanel/index.ts
  src/qComponents/QDatePickerNew/src/QDatePickerDropdown/QDatePickerPanel/QDatePiockerMonthPanel/q-date-picker-month-panel.scss
  src/qComponents/QDatePickerNew/src/QDatePickerDropdown/QDatePickerPanel/QDatePiockerMonthPanel/types.ts
  src/qComponents/QDatePickerNew/src/QDatePickerDropdown/QDatePickerPanel/q-date-picker-panel.scss
Due: eslint --fix, prettier --write, stylelint --fix

feat(QDatePicker): add switching views (clickable heading in panel)
  src/qComponents/QDatePickerNew/src/QDatePickerDropdown/QDatePickerDropdown.vue
  src/qComponents/QDatePickerNew/src/QDatePickerDropdown/QDatePickerPanel/QDatePickerPanel.vue
  src/qComponents/QDatePickerNew/src/QDatePickerDropdown/QDatePickerPanel/q-date-picker-panel.scss
  src/qComponents/QDatePickerNew/src/QDatePickerDropdown/types.ts
  src/qComponents/QDatePickerNew/src/types.ts
Due: eslint --fix, prettier --write, stylelint --fix

docs: textarea (#333)
  vuepress-docs/docs/.vuepress/config.ts
  vuepress-docs/docs/.vuepress/public/QTextarea/main.html
  vuepress-docs/docs/components/QInput.md
  vuepress-docs/docs/components/QTextarea.md
Due: eslint --fix, prettier --write, stylelint --fix
