Repository altai-ui/qui-max: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix, prettier --parser json --write, prettier --parser yaml --write

.lintstagedrc:

{
  "*.{js,ts}": ["eslint --fix", "prettier --write"],
  "*.scss": ["stylelint --fix", "prettier --write"],
  "*.{vue,html}": ["stylelint --fix", "eslint --fix", "prettier --write"],
  "{*.json,.*rc}": ["prettier --parser json --write"],
  "*.{yaml,yml}": ["prettier --parser yaml --write"],
  "*.md": ["prettier --write"]
}

feat: style update 'cause of div
  src/qComponents/QCollapseItem/src/q-collapse-item.scss
Due: prettier --write, stylelint --fix

feat: docs page update
  vuepress-docs/docs/.vuepress/public/QCollapse/closeIcon.html
  vuepress-docs/docs/.vuepress/public/QCollapse/icons/ChevronDown.vue
  vuepress-docs/docs/.vuepress/public/QCollapse/icons/ChevronUp.vue
  vuepress-docs/docs/.vuepress/public/QCollapse/icons/index.ts
  vuepress-docs/docs/.vuepress/public/QCollapse/openIcon.html
  vuepress-docs/docs/components/QCollapse.md
Due: eslint --fix, prettier --write, stylelint --fix

fix: define async icon comp
  stories/components/QCollapse/CustomIcon.stories.ts
  stories/components/QCollapse/icons/index.ts
  vuepress-docs/docs/.vuepress/public/QCollapse/icons/index.ts
Due: eslint --fix, prettier --write

fix: script type module
  vuepress-docs/docs/.vuepress/public/QCollapse/closeIcon.html
  vuepress-docs/docs/.vuepress/public/QCollapse/openIcon.html
Due: eslint --fix, prettier --write, stylelint --fix

fix: iframe height
  vuepress-docs/docs/components/QCollapse.md
Due: prettier --write

fix: docs page
  vuepress-docs/docs/.vuepress/public/QCollapse/closeIcon.html
  vuepress-docs/docs/.vuepress/public/QCollapse/openIcon.html
  vuepress-docs/docs/.vuepress/public/icons/ChevronDown.vue
  vuepress-docs/docs/.vuepress/public/icons/ChevronUp.vue
  vuepress-docs/docs/components/QCollapse.md
Due: eslint --fix, prettier --write, stylelint --fix

fix: docs page
  vuepress-docs/docs/.vuepress/public/QCollapse/closeIcon.html
  vuepress-docs/docs/.vuepress/public/QCollapse/openIcon.html
Due: eslint --fix, prettier --write, stylelint --fix

feat: update collapse item (#356)
  src/qComponents/QCollapse/src/QCollapse.vue
  src/qComponents/QCollapse/src/types.ts
  src/qComponents/QCollapseItem/src/QCollapseItem.vue
  src/qComponents/QCollapseItem/src/q-collapse-item.scss
  src/qComponents/QCollapseItem/src/types.ts
  stories/components/QCollapse/CustomIcon.stories.ts
  stories/components/QCollapse/Default.stories.ts
  stories/components/QCollapse/icons/ChevronDown.vue
  stories/components/QCollapse/icons/ChevronUp.vue
  vuepress-docs/docs/.vuepress/public/QCollapse/closeIcon.html
  vuepress-docs/docs/.vuepress/public/QCollapse/icons/ChevronDown.vue
  vuepress-docs/docs/.vuepress/public/QCollapse/icons/ChevronUp.vue
  vuepress-docs/docs/.vuepress/public/QCollapse/openIcon.html
  vuepress-docs/docs/.vuepress/public/icons/ChevronDown.vue
  vuepress-docs/docs/.vuepress/public/icons/ChevronUp.vue
  vuepress-docs/docs/components/QCollapse.md
Due: eslint --fix, prettier --write, stylelint --fix

chore: release v0.19.0
  package.json
Due: prettier --parser json --write

fix: import nuxt composables from #imports
  README.md
  stories/intro.stories.mdx
  vuepress-docs/docs/guide/getting-started.md
Due: prettier --write

fix: import nuxt composables from #imports (#357)
  README.md
  stories/intro.stories.mdx
  vuepress-docs/docs/guide/getting-started.md
Due: prettier --write

Create jekyll-gh-pages.yml
  .github/workflows/jekyll-gh-pages.yml
Due: prettier --parser yaml --write

feat: add vite deploy to gh pages
  .github/workflows/jekyll-gh-pages.yml
  vite.config.ts
Due: eslint --fix, prettier --write, prettier --parser yaml --write

feat: update deploy (#359)
  .github/workflows/jekyll-gh-pages.yml
  vite.config.ts
Due: eslint --fix, prettier --write, prettier --parser yaml --write
