Repository altai-ui/qui-max: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix, prettier --parser json --write, prettier --parser yaml --write

.lintstagedrc:

{
  "*.{js,ts}": ["eslint --fix", "prettier --write"],
  "*.scss": ["stylelint --fix", "prettier --write"],
  "*.{vue,html}": ["stylelint --fix", "eslint --fix", "prettier --write"],
  "{*.json,.*rc}": ["prettier --parser json --write"],
  "*.{yaml,yml}": ["prettier --parser yaml --write"],
  "*.md": ["prettier --write"]
}

fix(QButton): displayValue
  src/qComponents/QDatePicker/src/QDatePicker.vue
  src/qComponents/QDatePicker/src/types.ts
Due: eslint --fix, prettier --write, stylelint --fix

feat(QCheckbox): change camelCase to kebab-case at props in story
  stories/components/QCheckbox.stories.ts
Due: eslint --fix, prettier --write

feat(QCascade): fix types
  src/qComponents/QCascader/src/QCascaderColumn/QCascaderColumn.vue
  src/qComponents/QCascader/src/QCascaderInput/QCascaderInput.vue
  src/qComponents/QCascader/src/QCascaderInput/types.ts
  src/qComponents/QCascader/src/QCascaderRow/QCascaderRow.vue
  src/qComponents/QInput/src/QInput.vue
  src/qComponents/QInput/src/types.ts
Due: eslint --fix, prettier --write, stylelint --fix

feat(QCascade): revert fix types
  src/qComponents/QInput/src/QInput.vue
  src/qComponents/QInput/src/types.ts
Due: eslint --fix, prettier --write, stylelint --fix

feat(QCascade): remove quotes
  src/qComponents/QCascader/src/QCascaderColumn/QCascaderColumn.vue
Due: eslint --fix, prettier --write, stylelint --fix

fix(QInput): fix types
  src/qComponents/QInput/index.ts
  src/qComponents/QInput/src/QInput.vue
  src/qComponents/QInput/src/types.ts
Due: eslint --fix, prettier --write, stylelint --fix

fix(QTable): types
  src/qComponents/QTable/index.ts
  src/qComponents/QTable/src/QTable.vue
  src/qComponents/QTable/src/QTableCellCheckbox/QTableCellCheckbox.vue
  src/qComponents/QTable/src/QTableCellCheckbox/types.ts
  src/qComponents/QTable/src/QTableContainer/QTableContainer.vue
  src/qComponents/QTable/src/QTableContainer/types.ts
  src/qComponents/QTable/src/QTableEmpty/QTableEmpty.vue
  src/qComponents/QTable/src/QTableEmpty/types.ts
  src/qComponents/QTable/src/QTableT/QTableT.vue
  src/qComponents/QTable/src/QTableT/types.ts
  src/qComponents/QTable/src/QTableTBody/QTableTBodyCell/QTableTBodyCell.vue
  src/qComponents/QTable/src/QTableTBody/QTableTBodyRow/QTableTBodyRow.vue
  src/qComponents/QTable/src/QTableTBody/QTableTBodyRow/types.ts
  src/qComponents/QTable/src/QTableTHead/QTableTHeadCell/QTableTHeadCell.vue
  src/qComponents/QTable/src/QTableTTotal/QTableTTotalCell/QTableTTotalCell.vue
  src/qComponents/QTable/src/types.ts
Due: eslint --fix, prettier --write, stylelint --fix

fix(QInput): remove QInputClass with ClassValue
  src/qComponents/QInput/src/QInput.vue
  src/qComponents/QInput/src/types.ts
Due: eslint --fix, prettier --write, stylelint --fix

fix(QTable): types
  src/qComponents/QTable/src/QTableCellCheckbox/QTableCellCheckbox.vue
  src/qComponents/QTable/src/QTableTBody/QTableTBodyCell/QTableTBodyCell.vue
  src/qComponents/QTable/src/QTableTHead/QTableTHeadCell/QTableTHeadCell.vue
  src/qComponents/QTable/src/QTableTTotal/QTableTTotalCell/QTableTTotalCell.vue
Due: eslint --fix, prettier --write, stylelint --fix

fix(QInput): check if rootClass exist before add to classes
  src/qComponents/QInput/src/QInput.vue
Due: eslint --fix, prettier --write, stylelint --fix

fix(QCascader): types (#311)
  src/qComponents/QCascader/src/QCascaderInput/QCascaderInput.vue
  src/qComponents/QCascader/src/QCascaderInput/types.ts
  src/qComponents/QCascader/src/QCascaderRow/QCascaderRow.vue
Due: eslint --fix, prettier --write, stylelint --fix

feat(QRadio): add labelSize props and redesign (#309)
  src/qComponents/QRadio/index.ts
  src/qComponents/QRadio/src/QRadio.vue
  src/qComponents/QRadio/src/q-radio.scss
  src/qComponents/QRadio/src/types.ts
  src/vars.scss
  stories/components/QRadio.stories.ts
  vuepress-docs/docs/.vuepress/public/QRadio/labelSize.html
  vuepress-docs/docs/.vuepress/public/QRadio/main.html
  vuepress-docs/docs/components/QRadio.md
Due: eslint --fix, prettier --write, stylelint --fix

fix(QDatePicker): types (#293)
  src/qComponents/QDatePicker/index.ts
  src/qComponents/QDatePicker/src/QDatePicker.vue
  src/qComponents/QDatePicker/src/helpers.ts
  src/qComponents/QDatePicker/src/mobile/types.ts
  src/qComponents/QDatePicker/src/panel/Date/DatePanel.vue
  src/qComponents/QDatePicker/src/panel/Date/types.ts
  src/qComponents/QDatePicker/src/panel/DateRange/DateRange.vue
  src/qComponents/QDatePicker/src/panel/DateRange/types.ts
  src/qComponents/QDatePicker/src/panel/MonthRange/MonthRange.vue
  src/qComponents/QDatePicker/src/panel/MonthRange/types.ts
  src/qComponents/QDatePicker/src/panel/YearRange/YearRange.vue
  src/qComponents/QDatePicker/src/panel/YearRange/types.ts
  src/qComponents/QDatePicker/src/panel/composition.ts
  src/qComponents/QDatePicker/src/tables/DateTable/DateTable.vue
  src/qComponents/QDatePicker/src/tables/DateTable/types.ts
  src/qComponents/QDatePicker/src/tables/PeriodTable/PeriodTable.vue
  src/qComponents/QDatePicker/src/tables/PeriodTable/types.ts
  src/qComponents/QDatePicker/src/types.ts
Due: eslint --fix, prettier --write, stylelint --fix

fix(QButton): use "regular" instead "medium" in prop size
  src/qComponents/QButton/src/QButton.vue
  src/qComponents/QButton/src/types.ts
  stories/components/QButton.stories.ts
Due: eslint --fix, prettier --write, stylelint --fix

docs(QButton): replace "medium" size with "regular" in docs
  vuepress-docs/docs/components/QButton.md
Due: prettier --write

fix(QButton): use "regular" instead "medium" in prop "size" (#315)
  src/qComponents/QButton/src/QButton.vue
  src/qComponents/QButton/src/types.ts
  stories/components/QButton.stories.ts
  vuepress-docs/docs/components/QButton.md
Due: eslint --fix, prettier --write, stylelint --fix

fix(QInput): wip change ClassValue type fix QInputInstance. Type error in computed: classes
  src/qComponents/QInput/src/QInput.vue
  src/qComponents/QInput/src/types.ts
  types/helpers.ts
Due: eslint --fix, prettier --write, stylelint --fix

fix: class value type
  src/qComponents/QInput/src/QInput.vue
  types/helpers.ts
Due: eslint --fix, prettier --write, stylelint --fix

fix: drop number and booleand from ClassValue
  types/helpers.ts
Due: eslint --fix, prettier --write

feat(QSelect): add class for wrapper
  src/qComponents/QSelect/src/QSelect.vue
  src/qComponents/QSelect/src/types.ts
Due: eslint --fix, prettier --write, stylelint --fix

Update QSelect.vue
  src/qComponents/QSelect/src/QSelect.vue
Due: eslint --fix, prettier --write, stylelint --fix

fix(QInput): change ClassValue record acceptable props values
  types/helpers.ts
Due: eslint --fix, prettier --write

feat(QSelect): add disabled class for wrapper (#316)
  src/qComponents/QSelect/src/QSelect.vue
  src/qComponents/QSelect/src/types.ts
Due: eslint --fix, prettier --write, stylelint --fix

fix(QInput): add types for props (#313)
  src/qComponents/QInput/index.ts
  src/qComponents/QInput/src/QInput.vue
  src/qComponents/QInput/src/types.ts
  types/helpers.ts
Due: eslint --fix, prettier --write, stylelint --fix

fix(QTable): types (#314)
  src/qComponents/QTable/index.ts
  src/qComponents/QTable/src/QTable.vue
  src/qComponents/QTable/src/QTableCellCheckbox/QTableCellCheckbox.vue
  src/qComponents/QTable/src/QTableCellCheckbox/types.ts
  src/qComponents/QTable/src/QTableContainer/QTableContainer.vue
  src/qComponents/QTable/src/QTableContainer/types.ts
  src/qComponents/QTable/src/QTableEmpty/QTableEmpty.vue
  src/qComponents/QTable/src/QTableEmpty/types.ts
  src/qComponents/QTable/src/QTableT/QTableT.vue
  src/qComponents/QTable/src/QTableT/types.ts
  src/qComponents/QTable/src/QTableTBody/QTableTBodyCell/QTableTBodyCell.vue
  src/qComponents/QTable/src/QTableTBody/QTableTBodyRow/QTableTBodyRow.vue
  src/qComponents/QTable/src/QTableTBody/QTableTBodyRow/types.ts
  src/qComponents/QTable/src/QTableTHead/QTableTHeadCell/QTableTHeadCell.vue
  src/qComponents/QTable/src/QTableTTotal/QTableTTotalCell/QTableTTotalCell.vue
  src/qComponents/QTable/src/types.ts
Due: eslint --fix, prettier --write, stylelint --fix

fix(QCheckbox): add story args
  stories/components/QCheckbox.stories.ts
Due: eslint --fix, prettier --write

feat: add sortOrder & active header
  src/qComponents/QTable/src/QTable.vue
  src/qComponents/QTable/src/QTableTHead/QTableTHeadCell/QTableTHeadCell.vue
  src/qComponents/QTable/src/QTableTHead/QTableTHeadCell/q-table-t-head-cell.scss
  src/qComponents/QTable/src/QTableTHead/QTableTHeadCell/types.ts
  src/qComponents/QTable/src/types.ts
  stories/components/QTable/args.ts
Due: eslint --fix, prettier --write, stylelint --fix

refactor: cleanup
  src/qComponents/QTable/src/QTableTHead/QTableTHeadCell/QTableTHeadCell.vue
Due: eslint --fix, prettier --write, stylelint --fix

refactor: remove makeCounter
  src/qComponents/QTable/src/QTableTHead/QTableTHeadCell/QTableTHeadCell.vue
  src/qComponents/QTable/src/QTableTHead/QTableTHeadCell/types.ts
  src/qComponents/QTable/src/types.ts
Due: eslint --fix, prettier --write, stylelint --fix

refactor: drop switch
  src/qComponents/QTable/src/QTableTHead/QTableTHeadCell/QTableTHeadCell.vue
  src/qComponents/QTable/src/config.ts
  stories/components/QTable/args.ts
Due: eslint --fix, prettier --write, stylelint --fix

feat(QTable): add sortOrder & active header (#318)
  src/qComponents/QTable/src/QTable.vue
  src/qComponents/QTable/src/QTableTHead/QTableTHeadCell/QTableTHeadCell.vue
  src/qComponents/QTable/src/QTableTHead/QTableTHeadCell/q-table-t-head-cell.scss
  src/qComponents/QTable/src/QTableTHead/QTableTHeadCell/types.ts
  src/qComponents/QTable/src/config.ts
  src/qComponents/QTable/src/types.ts
  stories/components/QTable/args.ts
Due: eslint --fix, prettier --write, stylelint --fix

chore: release v0.17.0
  package.json
Due: prettier --parser json --write

Update period-table.scss
  src/qComponents/QDatePicker/src/tables/period-table.scss
Due: prettier --write, stylelint --fix

Update q-picker-panel.scss
  src/qComponents/QDatePicker/src/panel/q-picker-panel.scss
Due: prettier --write, stylelint --fix

fix(QDatePicker): buttons bg-color in safari (#319)
  src/qComponents/QDatePicker/src/panel/q-picker-panel.scss
  src/qComponents/QDatePicker/src/tables/period-table.scss
Due: prettier --write, stylelint --fix

fix: default story
  stories/components/QCheckbox.stories.ts
Due: eslint --fix, prettier --write

feat(QCheckbox): add labelSize props and redesign (#306)
  src/qComponents/QCheckbox/index.ts
  src/qComponents/QCheckbox/src/QCheckbox.vue
  src/qComponents/QCheckbox/src/q-checkbox.scss
  src/qComponents/QCheckbox/src/types.ts
  src/vars.scss
  stories/components/QCheckbox.stories.ts
  vuepress-docs/docs/.vuepress/public/QCheckbox/QCheckbox.html
  vuepress-docs/docs/.vuepress/public/QCheckbox/labelSize.html
  vuepress-docs/docs/components/QCheckbox.md
Due: eslint --fix, prettier --write, stylelint --fix

fix(QDatePicker): use correct month "date-fns" format
  src/qComponents/QDatePicker/src/tables/PeriodTable/PeriodTable.vue
Due: eslint --fix, prettier --write, stylelint --fix

fix(QTable): minWidth should work only when fixed layout is false
  src/qComponents/QTable/src/QTableTHead/QTableTHeadCell/QTableTHeadCell.vue
Due: eslint --fix, prettier --write, stylelint --fix

fix(QDatePicker): use correct month "date-fns" format (#321)
  src/qComponents/QDatePicker/src/tables/PeriodTable/PeriodTable.vue
Due: eslint --fix, prettier --write, stylelint --fix
